 body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: #dd0606a6;
 }

 .container {
   width: 80%;
   margin: 0 auto;
 }

 header {
   background-color: #793636;
   color: white;
   padding: 20px 0;
   text-align: center;

 }

 .header1 {
   background-color: #333;
   color: white;
   padding: 20px 0;
   text-align: center;
   display: flex;
   justify-content: space-between;

 }

 .logo {
   font-size: 36px;
   margin: 0;
 }

 h1 {
   color: #e72323;
 }

 .img {
   height: 70px;
   width: 170px;
   margin-top: -20px;
   margin-bottom: -20px;
   margin-left: 1px;
 }

 .cart1 {
   margin-right: 40px;

 }

 nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }

 nav ul li {
   display: inline;
   margin: 0 10px;
 }

 nav ul li a {
   color: white;
   text-decoration: none;
   font-size: 18px;
 }

 .hero {
   background-image: url('/Public/images/restaurant.jpg');
   background-size: cover;
   background-position: center;
   color: rgb(219, 6, 6);
   text-align: center;
   padding: 100px 0;
   background-color: rgba(212, 206, 206, 0.3);
 }

 #image .hero h2 {
   font-size: 48px;
   margin: 0 0 20px;
 }

 .hero p {
   font-size: 24px;
 }

 .hero button {
   padding: 10px 20px;
   font-size: 18px;
   background-color: #ff6347;
   border: none;
   color: rgb(255, 255, 255);
   cursor: pointer;
   border-radius: 2px;
   box-shadow: rgba(236, 20, 5, 0.692);
 }

 .menu {
   padding: 50px 0;
   background-color: #f4f4f4;
   text-align: center;
 }

 .menu h2 {
   font-size: 36px;
   margin-bottom: 20px;
 }

 .menu-item {
   margin-bottom: 30px;
 }

 .menu-item h3 {
   font-size: 24px;
   margin-bottom: 10px;
 }

 .menu-item p {
   font-size: 18px;
   color: #0daa90;
 }

 footer {
   background-color: #333;
   color: white;
   padding: 20px 0;
   text-align: center;
 }

 footer p {
   margin: 5px 0;
 }